@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "./src/theme/cerdiq-theme.css";

@media ios {
  :root {
    --font-sans: "Nunito";
    --font-rounded: "Nunito";
  }
}

@media android {
  :root {
    --font-sans: "Nunito";
    --font-rounded: "Nunito";
  }
}
